<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WatchLog</title>

    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <style>
        .clear{
            display: block;
            clear: both;
        }
        .content {
            height: 350px;
            overflow-y: scroll;
            padding:10px;
            margin:12px 0;
            width: 100%
        }
        .col {
            width: 49%;
            float: left;
        }
        .col_row{
            width: 100%;
            display: block;
        }

        #files{
            max-width: 600px;
        }
    </style>
</head>
<body>

<div class="container" style="width: 100%">
<div class="row">
<div class="col-md-12">

    <h3>Watch log</h3>
    <div id="app">
        <p>
        <template  v-for="n in [1, 2, 4]">
            <a href="#none" @click="setWindows(n)">{{n}}</a> <span v-if="n != 4"> | </span>
        </template>
        </p>

        <div class="contents">
            <div v-for="(index, key) in winMap"
                 v-if="key < windows && key < files.length"
                 @dblclick="switchWidth(key)"
                 :class="{col: windows > 1, col_row: winWidthFlag[key]}">

                <p>{{files[index]}}</p>

                <pre class="content" @click="selWindow(key)"><template
                    v-for="item in messages[index]">{{item.msg}}</template >
                </pre>
            </div>
            <div class="clear"></div>
        </div>

        <ul id="files">
            <li v-for="(file, index) in files" @click="selFile(index)">
                <span>{{file}}</span>
            </li>
        </ul>

        <input size="40" v-model="input">
        <button @click="add()">增加日志</button>
        <button @click="restart()">重启</button>
        <button @click="newline()">换行</button>
        <button @click="scrollToggle()">{{scrollToggleName}}</button>
    </div>

</div>
</div>
</div>

<script type="text/javascript" src="//cdn.bootcss.com/jquery/2.1.4/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>

<script src="lib/jquery.json.js"></script>
<script src="lib/socket.js"></script>
<script src="lib/event.js"></script>

<script src="main.js"></script>

</body>
</html>